body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272b30 !important;
  color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  max-width: 1200px !important;
}

.routes ul{
  list-style-type: none;
  padding: 20px 20px 15px 20px;
  background-color: #000000;
  max-width: 80% !important;
}

.routes ul li a{
  color: #ffffff;
  text-decoration: none !important;
  padding: 5px;
  display: block;
}

.routes ul li a:hover{
  background-color: #272b30;
  opacity: 0.9;
}

.data-container{
  padding: 0 5% !important;
}

.list{
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
}

.list li{
  padding: 5px;
}

.list li:hover{
  background-color: #cccccc;
}




